name: Set up Backend environment

description: Sets up the Backend environment for E2E, and Fuzz testing.

runs:
    using: composite
    steps:
      - name: Wait for database to be ready
        run: |
          timeout 5m bash -c '
            until docker exec ${{ job.services.db.id }} pg_isready -U nest_user_e2e -d nest_db_e2e; do
              echo "Waiting for database..."
              sleep 5
            done
          '
        shell: bash

      - name: Install PostgreSQL client
        run: sudo apt-get install -y postgresql-client
        shell: bash

      - name: Build backend image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          cache-from: |
            type=gha
          cache-to: |
            type=gha,compression=zstd
          context: backend
          file: backend/docker/Dockerfile
          load: true
          platforms: linux/amd64
          tags: owasp/nest:test-backend-latest
