version: 2
updates:
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: daily
    target-branch: main

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    target-branch: main
