version: 2
updates:
  - package-ecosystem: docker
    directory: docker/backend
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: docker/cspell
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: docker/docs
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: docker/frontend
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: docker/semgrep
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: docker/trivy
    schedule:
      interval: daily

  - package-ecosystem: docker-compose
    directory: docker-compose/local
    schedule:
      interval: daily

  - package-ecosystem: docker-compose
    directory: docker-compose/production
    schedule:
      interval: daily

  - package-ecosystem: docker-compose
    directory: docker-compose/proxy
    schedule:
      interval: daily

  - package-ecosystem: docker-compose
    directory: docker-compose/staging
    schedule:
      interval: daily

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    target-branch: main

  - package-ecosystem: npm
    directory: cspell
    schedule:
      interval: daily
    target-branch: main

  - package-ecosystem: npm
    directory: frontend
    schedule:
      interval: daily
    target-branch: main

  - package-ecosystem: pip
    directory: backend
    schedule:
      interval: daily
    target-branch: main

  - package-ecosystem: pip
    directory: docs
    schedule:
      interval: daily
    target-branch: main
