🚀 *Getting Started with OWASP GSoC*

• Join the #gsoc and #contribute channels if you haven't done it yet for suggestions and tips on how to get started.

• Explore previous years GSoC projects by using corresponding tags, (e.g. `gsoc{{ gsoc_year }}`, `gsoc{{ gsoc_year - 1 }}`) on <{{ projects_url }}?q=gsoc{{ gsoc_year }}|OWASP Nest> as they are more likely to participate in GSoC again.

• Run `/contribute --start` to get more information on how to contribute to OWASP.

📚 *Learn more*: Visit https://owasp.org/www-community/initiatives/gsoc/ for detailed information about OWASP's GSoC program.
