__pycache__
.ash_history
.bash_history
.cache
.env
.envs
.git
.gitignore
.local
.pnpm-store
.pytest_cache
.ruff_cache
.venv
.vscode
*.log
backend/data
backend/staticfiles
build
coverage
dist
node_modules
venv
