__pycache__
.ash_history
.bash_history
.cache
.coverage
.DS_Store
.env*
!.env.example
.idea
.lighthouseci/
.local
.mypy_cache
.npm/
.pnpm-store/
.psql_history
.pytest_cache
.python_history
.python-version
.ruff_cache
.venv/
.vscode
*.code-workspace
*.key
*.log
*.pdf
*.pem
*.tfstate
*.tfstate.*
**/.terraform/
backend/*nest-backend-dev*.tar.gz
backend/*nest-backend-dev*.zip
backend/*nest-backend-staging*.tar.gz
backend/*nest-backend-staging*.zip
backend/data/backup*
backend/staticfiles
backend/zappa_settings.json
design/
frontend/blob-report/
frontend/coverage
frontend/dist
frontend/npm-debug.log*
frontend/playwright-report/
frontend/playwright/.cache/
frontend/pnpm-debug.log*
frontend/test-results/
frontend/yarn-debug.log*
frontend/yarn-error.log*
infrastructure/terraform.tfvars
logs
node_modules/
TODO
venv/
