# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build outputs
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage

# Python specific
__pycache__
.bash_history
.cache
.coverage
.python_history
.ruff_cache
.venv

# Environment files
.env
.env.*
!.env.example

# Miscellaneous
.local
.npm
staticfiles
/volumes
backend/data/nest.json
