__pycache__
.bash_history
.cache
.coverage
.DS_Store
.env*
!.env.example
.idea
.local
.mypy_cache
.pytest_cache
.python_history
.python-version
.ruff_cache
.vscode
venv/
*.code-workspace
*.local
*.log
backend/.venv
backend/staticfiles
frontend/.npm
frontend/blob-report/
frontend/coverage
frontend/dist
frontend/node_modules
frontend/npm-debug.log*
frontend/playwright/.cache/
frontend/playwright-report/
frontend/pnpm-debug.log*
frontend/test-results/
frontend/yarn-debug.log*
frontend/yarn-error.log*
schema/.venv
logs
TODO
