*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
.pre-commit-config.yaml text eol=lf
.yamllint text eol=lf
.readthedocs.yaml text eol=lf
.coderabbit.yaml text eol=lf
mkdocs.yaml text eol=lf
trivy.yaml text eol=lf
trivyignore.yaml text eol=lf
backend/apps/slack/MANIFEST.yaml text eol=lf
* text=auto

*.js eol=lf
*.json eol=lf
*.jsx eol=lf
*.md eol=lf
*.py eol=lf
*.ts eol=lf
*.tsx eol=lf
