site_name: OWASP Nest Documentation
nav:
  - Home: index.md
  - Code of Conduct: code-of-conduct.md
  - Contributing: contributing.md
  - Windows Setup: windows-setup.md
repo_url: https://github.com/OWASP/Nest
theme:
  name: material
  logo: assets/images/owasp_icon_white_sm.png
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.tracking
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.annotation
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.tabs.link
    - content.tooltips
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
      primary: teal
      accent: amber
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: teal
      accent: cyan
markdown_extensions:
  - pymdownx.tasklist
  - pymdownx.tabbed:
      alternate_style: true
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - footnotes
  - attr_list
  - def_list
  - abbr
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: '!!python/name:pymdownx.superfences.fence_code_format'

plugins:
  - search
  - minify:
      minify_html: true
  - mkdocstrings:
      default_handler: python
  - tags
