{% extends "video/base.html" %}
{% block content %}
    <div class="flex h-full flex-col p-12 px-24">
        <h1 class="text-6xl font-bold mb-12 text-center">{{ title }}</h1>
        <div class="flex flex-wrap gap-4 justify-center w-full">
            {% for project in projects %}
                <div class="rounded-lg border-2 bg-card p-4 shrink-0 {% if show_details %}w-96{% else %}w-76{% endif %}">
                    <div class="{% if show_details %}text-2xl{% else %}text-xl{% endif %} font-bold text-owasp-blue {% if show_details %}mb-4{% endif %}">
                        {{ project.name }}
                    </div>
                    <div class="text-lg text-gray-300">Stars: {{ project.stars_count }}</div>
                    {% if show_details and project.leaders %}
                        <div class="text-lg text-gray-300">Leaders: {{ project.leaders }}</div>
                    {% endif %}
                    {% if show_details and project.created_at %}
                        <div class="text-lg text-gray-300">Created: {{ project.created_at }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
