Hello <@{{ USER_ID }}> and welcome to <{{ CONTRIBUTE_CHANNEL_ID }}> channel!{{ NL }}
We're happy to have you here as part of the OWASP community!
Your eagerness to contribute is what makes our community strong.
With *{{ ACTIVE_PROJECTS_COUNT }} active OWASP projects*, there are countless opportunities
for you to get involved and make a meaningful impact.

{{ SECTION_BREAK }}

Currently, we have *{{ OPEN_ISSUES_COUNT }} recently opened issues* across
these projects, and your skills and insights could help us tackle them. Whether
you're interested in coding, documentation, testing, or community outreach,
there's a place for you here. Don't hesitate to jump in, ask questions, and
share your ideas. Together, we can enhance the state of application security!

{{ SECTION_BREAK }}

{{ NEST_BOT_NAME }} can help you jumpstart your contributions to OWASP projects.
You can easily find opportunities for contributing right here in this chat using
`/contribute --start` command. It's a quick and convenient way to get involved!
Alternatively, you can check out <{{ CONTRIBUTE_PAGE_URL }}|*OWASP Nest Issues*> where you'll
find a comprehensive list of OWASP contribution opportunities and ways to make a
difference. It also offers guidance on possible first steps to approach the
issues within OWASP projects.

{{ SECTION_BREAK }}

🎉 We're excited to have you on board, and we can't wait to see the amazing contributions you'll make!

{{ SECTION_BREAK }}

{{ FEEDBACK_SHARING_INVITE | safe }}
