:exclamation: Welcome to the OWASP *Contribute* channel! This is where we
collaborate on solving real-world challenges to help take the OWASP
organization to the next level. We work on initiatives that make OWASP more
efficient, accessible, and impactful for the global community.

{{ SECTION_BREAK }}

We're excited to support projects across multiple OWASP
initiatives, including:{{ NL }}
  • *Security Tools & Projects*: Contributing to OWASP's flagship security
      projects and developing new tools to address emerging threats.{{ NL }}

Join #project-<project-name> channels for project specific info.
For example: #project-top-10 {{ NL }}

OWASP participates in *Google Summer of Code (GSoC)* annually, offering
opportunities for contributors to work on meaningful projects across the
foundation. Check #gsoc for up-to-date info.

{{ SECTION_BREAK }}

Explore current initiatives, connect with mentors, and help shape the future
of application security -- we look forward to your contributions!
