:exclamation: *<{{ OWASP_NEST_URL }}|{{ OWASP_NEST_NAME }}>* is focused on solving real-world challenges that will help take the OWASP organization to the next level.
Each milestone is designed to tackle key problems, making OWASP more efficient, accessible, and impactful.

{{ SECTION_BREAK }}

Here are the key *<https://github.com/OWASP/Nest/milestones|milestones>* that were accepted as part of the OWASP Nest project for *GSoC 2025*:{{ NL }}
  • *OWASP Contribution Hub*: Aiming to streamline the onboarding process and
      connect contributors with mentors and impactful projects. This milestone
      focuses on improving collaboration within the OWASP community.{{ NL }}
  • *OWASP Nest API*: The development of REST and GraphQL API endpoints for
      OWASP Projects,  Chapters, Events, and Committees. This milestone will
      standardize data access across OWASP's resources.{{ NL }}
  • *OWASP NestBot AI Assistant*: Develop an AI-powered Slack assistant,
      NestBot, that acts as an auto-responder for frequently asked questions,
      intelligently routes queries to the appropriate OWASP channels, and helps
      users navigate the OWASP community.{{ NL }}
  • *OWASP Schema*: Developing and extending a standardized schema for OWASP
      Projects and Chapters. This milestone aims to ensure consistency and ease
      of integration across OWASP resources.{{ NL }}

{{ SECTION_BREAK }}

No other OWASP project received more than 3 slots this year, placing OWASP Nest
among the most active OWASP initiatives in this year's program. With Google
reporting an overall acceptance rate of around 8%, this is a strong reflection
of the quality of the proposals and the growing impact of the OWASP Nest project.

{{ SECTION_BREAK }}

:bangbang: For projects that were not accepted this year we've launched a
dedicated sponsorship program to support them. We're looking for high-quality
contributors to help us with those project ideas.
Feel free to join #sponsorship channel to learn more about it.{{ NL }}

{{ SECTION_BREAK }}

Join the effort at #project-nest and help shape the future -- we're so looking forward to participating in GSoC 2026!
