[tool.poetry]
name = "OWASP Nest"
version = "0.1.0"
description = "Your gateway to OWASP"
authors = ["Arkadii Yakovets <arkadii.yakovets@owasp.org>"]
readme = "README.md"

packages = [{ include = "apps" }]

[tool.coverage.run]
branch = true
omit = [
    "__init__.py",
    "**/admin.py",
    "**/apps.py",
    "**/migrations/*",
    "manage.py",
    "settings/*",
    "tests/*",
    "wsgi.py",
]

[tool.poetry.dependencies]
algoliasearch = "^4.13.2"
algoliasearch-django = "^4.0.0"
django = "^5.1"
django-configurations = "^2.5.1"
django-cors-headers = "^4.7.0"
django-filter = "^25.1"
django-redis = "^5.4.0"
django-storages = { extras = ["s3"], version = "^1.14.4" }
djangorestframework = "^3.15.2"
geopy = "^2.4.1"
gunicorn = "^23.0.0"
humanize = "^4.11.0"
jinja2 = "^3.1.6"
lxml = "^5.3.0"
markdown = "^3.7"
openai = "^1.60.1"
psycopg2-binary = "^2.9.9"
pydantic = "^2.11.1"
pydantic-core = "^2.33.0"
pygithub = "^2.5.0"
python = "^3.13"
python-dateutil = "^2.9.0.post0"
pyyaml = "^6.0.2"
requests = "^2.32.3"
sentry-sdk = { extras = ["django"], version = "^2.20.0" }
slack-bolt = "^1.22.0"
slack-sdk = "^3.35.0"
strawberry-graphql = {extras = ["django"], version = "^0.270.1"}
thefuzz = "^0.22.1"
strawberry-graphql-django = "^0.59.1"

[tool.poetry.group.dev.dependencies]
djlint = "^1.36.4"
pre-commit = "^4.1.0"
ruff = "^0.11.0"

[tool.poetry.group.test.dependencies]
pytest = "^8.3.4"
pytest-cov = "^6.0"
pytest-django = "^4.5"
pytest-mock = "^3.0"
pytest-xdist = "^3.0"
python-dotenv = "^1.0.1"

[tool.djlint]
format = true
format_css = true
format_js = true
indent = 4

[tool.pytest.ini_options]
DJANGO_CONFIGURATION = "Test"
DJANGO_SETTINGS_MODULE = "settings.test"
addopts = [
    "--cov-config=pyproject.toml",
    "--cov-fail-under=75",
    "--cov-precision=2",
    "--cov-report=term-missing",
    "--cov=.",
    "--dist=loadscope",
    "--durations-min=1",
    "--durations=5",
    "--no-cov-on-fail",
    "--numprocesses=auto",
]
filterwarnings = [
    "ignore::DeprecationWarning:pytest_cov",
    "ignore::DeprecationWarning:xdist",
    "ignore::django.conf.RemovedInDjango60Warning:django",
]
log_level = "INFO"

[tool.mypy]
explicit_package_bases = true
ignore_missing_imports = true
mypy_path = "backend"
plugins = ["strawberry.ext.mypy_plugin"]

[[tool.mypy.overrides]]
disable_error_code = ["attr-defined"]
module = ["apps.*.models.mixins.*", "apps.*.admin", "schema.tests.*"]

[[tool.mypy.overrides]]
disable_error_code = ["var-annotated"]
module = ["apps.*.migrations.*"]

[[tool.mypy.overrides]]
disable_error_code = ["return-value", "attr-defined", "misc"]
module = ["apps.*.graphql.queries.*", "apps.*.graphql.nodes.*"]

[tool.ruff]
line-length = 99
target-version = "py313"

[tool.ruff.lint]
extend-select = ["I"]
ignore = [
    "ANN",  # TODO(arkid15r): remove when all annotations are added.
    "ARG002",
    "C901",
    "COM812",
    "D407",
    "DJ012",
    "ERA001",
    "FBT002",
    "FIX002",
    "PD",
    "PERF203",
    "PLC0414",
    "PLR0912",
    "PLR0913",
    "PLR0915",
    "RUF012",
    "SLF001",
    "TD003",
]
select = ["ALL"]

[tool.ruff.lint.per-file-ignores]
"**/__init__.py" = ["D104", "F401"]
"**/admin.py" = ["D100", "D101", "D104"]
"**/api/*.py" = ["D106"]
"**/apps.py" = ["D100", "D101", "D104"]
"**/graphql/**/nodes.py" = ["D106"]
"**/graphql/nodes/*.py" = ["D106"]
"**/graphql/queries/*.py" = ["N805"]
"**/management/commands/*.py" = ["D101", "D102", "T201"]
"**/migrations/*.py" = ["D100", "D101", "D104"]
"**/models.py" = ["D106"]
"**/models/*.py" = ["D106"]
"**/tests/**/*.py" = ["D100", "D101", "D102", "D103", "D107", "PLR2004", "S101"]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]
