The OWASP Foundation is a 501(c)(3) non-profit organization that relies on donations to support our mission of making software security visible. Your donations help us provide free resources, tools, and educational materials to the global security community. We accept donations in multiple currencies: USD, GBP, and EUR.{{ NL }}
For detailed information about our donation procedures, please refer to the <{{ DONATION_POLICY_PAGE_URL }}|{{ DONATION_POLICY_PAGE_NAME }}>.
{{ SECTION_BREAK }}
{{ DIVIDER }}
{{ SECTION_BREAK }}
Please Visit <{{ DONATION_PAGE_URL }}|{{ DONATION_PAGE_NAME }}> page to donate.
