{% if HELP %}
• `{{ COMMAND }} board` -- OWASP Global Board information
• `{{ COMMAND }} chapters` -- Explore OWASP chapters
• `{{ COMMAND }} committees` -- Explore OWASP committees
• `{{ COMMAND }} community` -- Explore OWASP community
• `{{ COMMAND }} contact` -- Contact OWASP
• `{{ COMMAND }} contribute` -- OWASP projects contribution opportunities
• `{{ COMMAND }} donate` -- Support OWASP with a donation
• `{{ COMMAND }} events` -- Browse OWASP events
• `{{ COMMAND }} gsoc` -- Google Summer of Code participants information
• `{{ COMMAND }} jobs` -- Check out available job opportunities
• `{{ COMMAND }} leaders` -- Chapter and project leaders search
• `{{ COMMAND }} news` -- OWASP news
• `{{ COMMAND }} projects` -- Explore OWASP projects
• `{{ COMMAND }} sponsor` -- Coming soon
• `{{ COMMAND }} sponsors` -- Get a list of OWASP sponsors
• `{{ COMMAND }} staff` -- OWASP corporate structure
• `{{ COMMAND }} users` -- OWASP contributors
{% else %}
*`{{ COMMAND }} {{ HANDLER }}` is not supported*
{% endif %}
