:root {
  --aa-search-input-height: 44px;
  --aa-input-icon-size: 20px;

  --aa-base-unit: 16;
  --aa-spacing-factor: 1;
  --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px);
  --aa-spacing-half: calc(var(--aa-spacing) / 2);
  --aa-panel-max-height: 650px;

  --aa-base-z-index: 9999;

  --aa-font-size: calc(var(--aa-base-unit) * 1px);
  --aa-font-family: inherit;
  --aa-font-weight-medium: 500;
  --aa-font-weight-semibold: 600;
  --aa-font-weight-bold: 700;

  --aa-icon-size: 20px;
  --aa-icon-stroke-width: 1.6;
  --aa-icon-color-rgb: 0, 0, 0;
  --aa-icon-color-alpha: 0.6;
  --aa-action-icon-size: 20px;

  --aa-text-color-rgb: 38, 38, 39;
  --aa-text-color-alpha: 1;
  --aa-primary-color-rgb: 152, 175, 199;
  --aa-primary-color-alpha: 0.4;
  --aa-muted-color-rgb: 128, 126, 163;
  --aa-muted-color-alpha: 0.6;

  --aa-panel-border-color-rgb: 128, 126, 163;
  --aa-panel-border-color-alpha: 0.3;
  --aa-input-border-color-rgb: 128, 126, 163;
  --aa-input-border-color-alpha: 0.8;

  --aa-background-color-rgb: 255, 255, 255;
  --aa-background-color-alpha: 1;
  --aa-input-background-color-rgb: 255, 255, 255;
  --aa-input-background-color-alpha: 1;
  --aa-selected-color-rgb: 152, 175, 199;
  --aa-selected-color-alpha: 0.45;
  --aa-description-highlight-background-color-rgb: 245, 223, 77;
  --aa-description-highlight-background-color-alpha: 0.5;

  --aa-detached-media-query: (max-width: 680px);
  --aa-detached-modal-media-query: (min-width: 680px);
  --aa-detached-modal-max-width: 680px;
  --aa-detached-modal-max-height: 500px;
  --aa-overlay-color-rgb: 115, 114, 129;
  --aa-overlay-color-alpha: 0.4;

  --aa-panel-shadow: 0 0 0 1px rgba(35, 38, 59, 0.1), 0 6px 16px -4px rgba(35, 38, 59, 0.15);

  --aa-scrollbar-width: 13px;
  --aa-scrollbar-track-background-color-rgb: 234, 234, 234;
  --aa-scrollbar-track-background-color-alpha: 1;
  --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb);
  --aa-scrollbar-thumb-background-color-alpha: 1;

  @media (hover: none) and (pointer: coarse) {
    --aa-spacing-factor: 1.2;
    --aa-action-icon-size: 22px;
  }
}

body {

  &[data-theme='dark'],
  &.dark {
    --aa-text-color-rgb: 183, 192, 199;
    --aa-primary-color-rgb: 219, 221, 224;
    --aa-primary-color-alpha: 0.1;
    --aa-muted-color-rgb: 219, 221, 224;

    --aa-input-background-color-rgb: 60, 60, 60;
    --aa-background-color-rgb: 50, 50, 50;
    --aa-selected-color-rgb: 128, 128, 128;
    --aa-selected-color-alpha: 0.25;
    --aa-description-highlight-background-color-rgb: 0, 255, 255;
    --aa-description-highlight-background-color-alpha: 0.25;

    --aa-icon-color-rgb: 255, 255, 255;

    --aa-panel-shadow: inset 1px 1px 0 0 rgb(58, 59, 63), 0 3px 8px 0 rgb(37, 35, 35);

    --aa-scrollbar-track-background-color-rgb: 44, 46, 64;
    --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb);
  }
}