*Upcoming OWASP Events:*{{ SECTION_BREAK }}{{ DIVIDER }}{{ SECTION_BREAK }}
{%- for event in EVENTS %}
*<{{ event.url }}|{{ event.name }}>*
_{%- if event.start_date and event.end_date -%}
    {%- if event.start_date == event.end_date -%}
 {{ event.start_date.strftime('%b %-d, %Y') }}
    {%- else -%}
 {{ event.start_date.strftime('%b') }} {{ event.start_date.strftime('%-d') }} — {{ event.end_date.strftime('%-d') }}, {{ event.end_date.strftime('%Y') }}
    {%- endif -%}
{%- else -%}
 {{ event.start_date.strftime('%b %-d, %Y') }}
{%- endif %} | {{ event.location }}_
{%- if event.description %}{{ NL }}{{ event.description }}{% endif %}{{ NL }}{%- if not loop.last %}{{ SECTION_BREAK }}{% endif %}
{%- endfor %}

{{ SECTION_BREAK }}{{ DIVIDER }}{{ SECTION_BREAK }}
🔍 For more information about upcoming events, please visit <{{ EVENTS_PAGE_URL }}|{{ EVENTS_PAGE_NAME }}>.{{ NL }}
{{ SECTION_BREAK }}
{{ FEEDBACK_SHARING_INVITE | safe }}
