{% if MODE == "GENERAL" %}
🚀 *Getting Started with OWASP GSoC*{{ NL }}
  • Join the <{{ GSOC_CHANNEL_ID }}> and <{{ CONTRIBUTE_CHANNEL_ID }}> channels if you haven't done it yet for suggestions and tips on how to get started.{{ NL }}
  • Explore previous years GSoC projects by using corresponding tags, (e.g. `gsoc{{ PREVIOUS_YEAR }}`, `gsoc{{ PREVIOUS_YEAR - 1 }}`) on <{{ PROJECTS_URL }}?q=gsoc{{ PREVIOUS_YEAR }}|OWASP Nest> as they are more likely to participate in GSoC again.{{ NL }}
  • Run `/contribute --start` to get more information on how to contribute to OWASP.
{{ SECTION_BREAK }}
{% elif MODE == "YEAR" %}
*GSoC {{ YEAR }} projects:*{{ NL }}{{ NL }}{% for project in PROJECTS %}  • <{{ project.url }}|{{ project.name }}>{{ NL }}{% endfor %}
{{ SECTION_BREAK }}
Additional information:{{ NL }}{% if HAS_ANNOUNCEMENT %}  • <https://owasp.org/www-community/initiatives/gsoc/gsoc{{ YEAR }}|GSoC {{ YEAR }} announcement>{{ NL }}{% endif %}  • <https://owasp.org/www-community/initiatives/gsoc/gsoc{{ YEAR }}ideas|GSoC {{ YEAR }} ideas>
{% elif MODE == "UNSUPPORTED_YEAR" %}
Year {{ YEAR }} is not supported. Supported years: {{ SUPPORTED_YEAR_START }}-{{ SUPPORTED_YEAR_END }}, e.g. `{{ COMMAND }} {{ SUPPORTED_YEAR_END }}`
{% elif MODE == "INVALID" %}
*`{{ COMMAND }} {{ COMMAND_TEXT }}` is not supported*
{% endif %}

{{ SECTION_BREAK }}

{{ FEEDBACK_SHARING_INVITE | safe }}
