{% if mode == "general" %}
🚀 *Getting Started with OWASP GSoC*{{ NL }}
  • Join the <{{ gsoc_channel }}> and <{{ contribute_channel }}> channels if you haven't done it yet for suggestions and tips on how to get started.{{ NL }}
  • Explore previous years GSoC projects by using corresponding tags, (e.g. `gsoc{{ previous_year }}`, `gsoc{{ previous_year - 1 }}`) on <{{ projects_url }}?q=gsoc{{ previous_year }}|OWASP Nest> as they are more likely to participate in GSoC again.{{ NL }}
  • Run `/contribute --start` to get more information on how to contribute to OWASP.
{{ SECTION_BREAK }}
{% include "commands/feedback.jinja" %}
{% elif mode == "year" %}
*GSoC {{ year }} projects:*{{ NL }}{{ NL }}{% for project in projects %}  • <{{ project.idx_url }}|{{ project.idx_name }}>{{ NL }}{% endfor %}
{{ SECTION_BREAK }}
Additional information:{{ NL }}{% if has_announcement %}  • <https://owasp.org/www-community/initiatives/gsoc/gsoc{{ year }}|GSoC {{ year }} announcement>{{ NL }}{% endif %}  • <https://owasp.org/www-community/initiatives/gsoc/gsoc{{ year }}ideas|GSoC {{ year }} ideas>
{% elif mode == "unsupported_year" %}
Year {{ year }} is not supported. Supported years: {{ supported_start }}-{{ supported_end }}, e.g. `{{ command }} {{ supported_end }}`
{% elif mode == "invalid" %}
*`{{ command }} {{ command_text }}` is not supported*{{ NL }}
{% endif %}
