{%- if sponsors %}
  *OWASP Sponsors:*{{ NL }}{{ NL }}{{ SECTION_BREAK }}
{% for sponsor in sponsors -%}
  {%- if sponsor.url -%}
    *{{ loop.index }}. <{{ sponsor.url }}|{{ sponsor.name }}>*{{ NL }}
  {%- else -%}
    *{{ loop.index }}. {{ sponsor.name }}*{{ NL }}
  {%- endif -%}
  Member Type: {{ sponsor.member_type }}
{{ sponsor.description }}{{ NL }}{{ NL }}{{ SECTION_BREAK }}
{%- endfor -%}
{{ SECTION_BREAK }}{{ DIVIDER }}{{ SECTION_BREAK }}
* Please visit the <{{ website_url }}/supporters|OWASP supporters> for more information about the sponsors*
{% include "commands/feedback.jinja" %}
{%- else -%}
Failed to get OWASP sponsor data.
{%- endif -%}
