services:
  backend:
    container_name: nest-backend
    command: >
      sh -c '
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000
      '
    build:
      context: ../backend
      dockerfile: docker/Dockerfile.local
    depends_on:
      db:
        condition: service_healthy
    env_file: ../backend/.env
    environment:
      DJANGO_DB_HOST: ${DJANGO_DB_HOST:-db}
      DJANGO_DB_NAME: ${DJANGO_DB_NAME:-nest_db_dev}
      DJANGO_DB_PASSWORD: ${DJANGO_DB_PASSWORD:-nest_user_dev_password}
      DJANGO_DB_PORT: ${DJANGO_DB_PORT:-5432}
      DJANGO_DB_USER: ${DJANGO_DB_USER:-nest_user_dev}
      PUBLIC_DNS_IP: ${PUBLIC_DNS_IP}
      PUBLIC_IP_ADDRESS: ${PUBLIC_IP_ADDRESS} 
      REMOTE_IP_ADDRESS: ${REMOTE_IP_ADDRESS}


    ports:
      - 127.0.0.1:8000:8000
    volumes:
      - ../backend:/home/owasp
      - backend-data:/home/owasp/.venv

  db:
    container_name: nest-db
    image: postgres:16.4
    environment:
      POSTGRES_DB: ${DJANGO_DB_NAME:-nest_db_dev}
      POSTGRES_PASSWORD: ${DJANGO_DB_PASSWORD:-nest_user_dev_password}
      POSTGRES_USER: ${DJANGO_DB_USER:-nest_user_dev}
    healthcheck:
      interval: 5s
      retries: 5
      test: [CMD, pg_isready, -U, '${DJANGO_DB_USER:-nest_user_dev}', -d, '${DJANGO_DB_NAME:-nest_db_dev}']
      timeout: 5s
    volumes:
      - db-data:/var/lib/postgresql/data

  docs:
    container_name: nest-docs
    command: >
      sh -c '
        python docs/scripts/generate_schema_docs.py &&
        mkdocs serve -a 0.0.0.0:8001
      '
    build:
      context: ..
      dockerfile: docs/docker/Dockerfile.local
    ports:
      - 127.0.0.1:8001:8001
    volumes:
      - ../docs:/home/owasp/docs
      - ../schema:/home/owasp/schema
      - docs-data:/home/owasp/.venv

  frontend:
    container_name: nest-frontend
    command: >
      sh -c '
        pnpm run dev
      '
    build:
      context: ../frontend
      dockerfile: docker/Dockerfile.local
    ports:
      - 127.0.0.1:3000:3000
    volumes:
      - ../frontend:/home/owasp
      - frontend-data:/home/owasp/node_modules
    environment:
      NODE_ENV: local

volumes:
  backend-data:
  db-data:
  docs-data:
  frontend-data:
