The OWASP Foundation, a U.S. 501(c)(3) nonprofit organization, accepts donations to support its mission of improving software security. Donations can be made through the official OWASP website or via postal mail. Online donations are processed through a form that attributes contributions to specific chapters or projects based on the referring page title. The form supports multiple currencies: USD, GBP, and EUR.{{ NL }}
Donations can be unrestricted, allowing OWASP to allocate funds where needed, or restricted, where contributions of $1,000 or more can be designated for a specific project or chapter with a 10% administrative fee. Donors may be publicly acknowledged, though OWASP remains vendor-neutral and does not endorse any supporters. For substantial contributions, OWASP welcomes major foundation and corporate grants, and interested parties are encouraged to reach out. For detailed information on donation policies and procedures, please refer to the <https://{{ website_url }}/www-policy/operational/donations|OWASP Donations Policy>.{{ NL }}
{{ SECTION_BREAK }}{{ DIVIDER }}{{ SECTION_BREAK }}Please Visit <{{ website_url }}/donate/| OWASP Foundation> page to donate.
