name: Set up E2E environment
description: "Sets up the environment for end-to-end testing."

runs:
    using: "composite"
    steps:
      - name: Wait for database to be ready
        run: |
          until docker exec ${{ job.services.db.id }} pg_isready -U nest_user_e2e -d nest_db_e2e; do
            echo "Waiting for database..."
            sleep 5
          done
        shell: bash

      - name: Install PostgreSQL client
        run: sudo apt-get install -y postgresql-client
        shell: bash

      - name: Load Postgres data
        env:
          PGPASSWORD: nest_user_e2e_password
        run: |
          gunzip -c backend/data/nest-e2e.sql.gz | psql -h localhost -U nest_user_e2e -d nest_db_e2e
        shell: bash

      - name: Build backend e2e image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          cache-from: |
            type=gha
          cache-to: |
            type=gha,compression=zstd
          context: backend
          file: backend/docker/Dockerfile
          load: true
          platforms: linux/amd64
          tags: owasp/nest:test-backend-e2e-latest

      - name: Start Backend in the background
        run: |
          docker run --rm --name nest-backend-e2e-runner \
            --env-file backend/.env.example \
            --network host \
            -e DJANGO_SETTINGS_MODULE=settings.test \
            -e DJANGO_DB_HOST=localhost \
            -e DJANGO_DB_NAME=nest_db_e2e \
            -e DJANGO_DB_USER=nest_user_e2e \
            -e DJANGO_DB_PASSWORD=nest_user_e2e_password \
            -e DJANGO_DB_PORT=5432 \
            -p 8000:8000 \
            owasp/nest:test-backend-e2e-latest \
            sh -c '
              python manage.py runserver 0.0.0.0:8000
          '
        shell: bash

      - name: Waiting for the backend to be ready
        run: |
          until curl -s http://localhost:8000/graphql > /dev/null; do
            echo "Waiting for backend..."
            sleep 3
          done
          echo "Backend is up!"
        shell: bash
