- name: Set up E2E environment
  runs:
    using: "composite"
    steps:
      - name: Wait for database to be ready
        run: |
          until docker exec ${{ job.services.db.id }} pg_isready -U nest_user_e2e -d nest_db_e2e; do
            echo "Waiting for database..."
            sleep 5
          done

      - name: Install PostgreSQL client
        run: sudo apt-get install -y postgresql-client

      - name: Load Postgres data
        env:
          PGPASSWORD: nest_user_e2e_password
        run: |
          gunzip -c backend/data/nest-e2e.sql.gz | psql -h localhost -U nest_user_e2e -d nest_db_e2e
