name: Set up E2E environment

description: Sets up the environment for end-to-end testing.

runs:
    using: composite
    steps:
      - name: Wait for database to be ready
        run: |
          timeout 1m bash -c '
            until docker exec ${{ job.services.db.id }} pg_isready -U nest_user_e2e -d nest_db_e2e; do
              echo "Waiting for database..."
              sleep 5
            done
          '
        shell: bash

      - name: Install PostgreSQL client
        run: sudo apt-get install -y postgresql-client
        shell: bash

      - name: Build backend e2e image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          cache-from: |
            type=gha
          cache-to: |
            type=gha,compression=zstd
          context: backend
          file: backend/docker/Dockerfile
          load: true
          platforms: linux/amd64
          tags: owasp/nest:test-backend-e2e-latest

      - name: Start Backend in the background
        run: |
          docker run -d --rm --name e2e-nest-backend \
            --env-file backend/.env.e2e.example \
            --network host \
            -p 9000:9000 \
            -e DJANGO_DB_HOST=localhost \
            owasp/nest:test-backend-e2e-latest \
            sh -c '
              python manage.py migrate &&
              gunicorn wsgi:application --bind 0.0.0.0:9000
          '
        shell: bash

      - name: Waiting for the backend to be ready
        run: |
          timeout 1m bash -c '
            until wget --spider http://localhost:9000/a; do
              echo "Waiting for backend..."
              sleep 5
            done
          '
          echo "Backend is up!"
        shell: bash

      - name: Load Postgres data
        env:
          PGPASSWORD: nest_user_e2e_password
        run: |
          gunzip -c backend/data/nest.sql.gz | psql -h localhost -U nest_user_e2e -d nest_db_e2e
        shell: bash
