Hello <@{{ USER_ID }}> and welcome to #gsoc channel!
Here's how you can start your journey toward contributing to OWASP projects and
making the most of Google Summer of Code.
{{ NL }}
🚀 Getting Started with OWASP GSoC:
{{ NL }}
  • Join the #gsoc and #contribute channels if you haven't done it yet for suggestions and tips on how to get started.
  • Explore previous years GSoC projects by using corresponding tags, (e.g. gsoc{{ PREVIOUS_YEAR }}, gsoc{{ PREVIOUS_YEAR - 1 }}) on OWASP Nest as they are more likely to participate in GSoC again.
  • Run /contribute --start to get more information on how to contribute to OWASP.
{{ NL }}
🎉 We're excited to have you on board, and we can't wait to see the amazing
contributions you'll make! Happy contributing and good luck with your GSoC
journey!
{{ NL }}
{{ SECTION_BREAK }}
{{ FEEDBACK_SHARING_INVITE | safe }}
