:exclamation: Welcome to the OWASP *gsoc* channel!

This is where we share information about OWASP's participation in *Google Summer of Code (GSoC)*, an annual program that offers opportunities for contributors to work on meaningful projects across the foundation.

{{ SECTION_BREAK }}

Numerous projects have proposed ideas for GSoC:{{ NL }}
  • *<https://owasp.org/gsoc | General Info>*{{ NL }}
  • *<https://owasp.org/www-community/initiatives/gsoc/gsoc{{ GSOC_YEAR }} | {{ GSOC_YEAR }} Info>*, *<https://owasp.org/www-community/initiatives/gsoc/gsoc{{ GSOC_YEAR }}ideas | {{ GSOC_YEAR }} Projects & Ideas>* {{ NL }}
  • *<https://owasp.org/www-community/initiatives/gsoc/gsoc{{ GSOC_YEAR - 1 }} | {{ GSOC_YEAR - 1 }} Info>*, *<https://owasp.org/www-community/initiatives/gsoc/gsoc{{ GSOC_YEAR - 1 }}ideas | {{ GSOC_YEAR - 1 }} Projects & Ideas>*{{ NL }}

{{ SECTION_BREAK }}

OWASP has a strong track record in GSoC, with multiple projects accepted each year. This reflects the quality of our community's proposals and the growing impact of OWASP initiatives globally.
