{% extends "base.html" %}
{% load static %}
{% block title %}
    OWASP Chapters
{% endblock title %}
{% block content %}
    {{ block.super }}
    <div id="app">
        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-6 mx-auto">
                    <div class="input-group">
                        <input v-model="searchQuery"
                               type="text"
                               @input="handleInput"
                               class="form-control"
                               :placeholder="searchPlaceholderText">
                        <button class="btn btn-outline-secondary"
                                @click="searchQuery = ''"
                                type="button"
                                id="button-addon2">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div v-for="(chapter, i) in chapters"
                 :key="`chapter-${i}`"
                 class="card m-4">
                <div class="card-body px-4">
                    <div class="row" id="idx_metadata">
                        <div class="col-6 mb-2">
                            <div id="idx_name" class="d-flex flex-row align-self-center">
                                <h4 class="px-1">
                                    <a :href="`${chapter.idx_url}`"
                                       target="_blank"
                                       :title="`${chapter.idx_name}`">${chapter.idx_name}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div id="idx_leaders"
                         class="mb-2 fw-semibold"
                         v-if="chapter.idx_leaders.length">
                        Leader<span v-if="chapter.idx_leaders.length > 1">s</span>:
                        <span class="pe-1" v-for="(leader, i) in chapter.idx_leaders">
                            <span class="pe-none text-decoration-none text-reset">${leader}</span>
                            <span v-if="i < chapter.idx_leaders.length - 1">,</span>
                        </span>
                    </div>
                    <div id="idx_summary" class="mb-1">
                        <div v-html="chapter.idx_summary"></div>
                        <a type="button"
                           data-bs-toggle="tooltip"
                           data-bs-placement="right"
                           target="_blank"
                           class="mt-3 btn btn-outline-primary btn-sm inline-block float-end"
                           style="text-decoration: none"
                           :href="`${chapter.idx_url}`">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            Join
                        </a>
                    </div>
                    <div class="d-flex flex-row">
                        <div v-for="(related_url, i) in chapter.related_urls" class="p-2">
                            <a :href="`${related_url.url}`"
                               target="_blank"
                               :title="`${related_url.title}`"
                               v-html="related_url.icon"></a>
                        </div>
                    </div>
                    <div id="idx_tags">
                        <div>
                            <div role="button"
                                 data-bs-toggle="tooltip"
                                 data-bs-placement="bottom"
                                 class="badge bg-secondary mx-1 mt-2"
                                 v-for="tag in chapter.tags">${tag}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const {
            createApp
        } = Vue;
        createApp({
            delimiters: ['${', '}'],
            computed: {
                searchPlaceholderText() {
                    return 'Search...';
                }
            },
            data() {
                return {
                    chapters: [],
                    selectedChapter: {},
                    searchQuery: '',
                    isManualSearch: true
                };
            },
            watch: {
                searchQuery() {
                    if (this.isManualSearch) {
                        this.handleInput();
                    } else {
                        this.getChapters();
                    }
                }
            },
            methods: {
                async getChapters() {

                    const response = await fetch(`/api/v1/owasp/search/chapter?q=${this.searchQuery}`)
                        .then(res => res.json())
                        .then(json => {
                            json.forEach(chapter => {
                                chapter.tags = chapter.idx_tags.constructor.name == "Array" ? chapter.idx_tags : [chapter.idx_tags];
                                chapter.related_urls = this.handleRelatedUrls(chapter.idx_related_urls)
                            });
                            this.chapters = json;
                        })
                        .catch(err => console.error("There was an error! ", err));

                },

                handleRelatedUrls(related_urls) {
                    formated_urls = [];
                    related_urls.forEach(url => {
                        var obj = {};
                        if (url.includes('youtube.com')) {
                            obj = {
                                'title': 'YouTube',
                                'icon': '<i class="fa-brands fa-youtube"></i>',
                                'url': url
                            }

                        } else if (url.includes('x.com')) {
                            obj = {
                                'title': 'X (formerly twitter)',
                                'icon': '<i class="fa-brands fa-x-twitter"></i>',
                                'url': url
                            }
                        } else if (url.includes('google.com')) {
                            obj = {
                                'title': 'google',
                                'icon': '<i class="fa-brands fa-google"></i>',
                                'url': url
                            }
                        } else if (url.includes('meetup.com')) {
                            obj = {
                                'title': 'meetup',
                                'icon': '<i class="fa-brands fa-meetup"></i>',
                                'url': url
                            }
                        } else if (url.includes('linkedin.com')) {
                            obj = {
                                'title': 'linkedIn',
                                'icon': '<i class="fa-brands fa-linkedin"></i>',
                                'url': url
                            }
                        } else if (url.includes('facebook.com')) {
                            obj = {
                                'title': 'facebook',
                                'icon': '<i class="fa-brands fa-facebook"></i>',
                                'url': url
                            }
                        } else if (url.includes('discord.com')) {
                            obj = {
                                'title': 'discord',
                                'icon': '<i class="fa-brands fa-discord"></i>',
                                'url': url
                            }
                        } else if (url.includes('slack.com')) {
                            obj = {
                                'title': 'slack',
                                'icon': '<i class="fa-brands fa-slack"></i>',
                                'url': url
                            }
                        } else {
                            obj = {
                                'title': 'social links',
                                'icon': '<i class="fa-solid fa-users"></i>',
                                'url': url
                            }
                        }

                        formated_urls.push(obj);
                    });
                    return formated_urls
                },
                handleInput(event) {
                    this.isManualSearch = true;
                    clearTimeout(this.timeout);
                    this.timeout = setTimeout(this.getChapters, 1000);
                },
                clickSearch(searchQuery) {
                    this.isManualSearch = false;
                    this.searchQuery = searchQuery;
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            },
            mounted() {
                dayjs.extend(dayjs_plugin_relativeTime);

                const url = new URL(window.location.href);
                const params = new URLSearchParams(url.search);
                const searchQuery = params.get('q');
                if (searchQuery) {
                    this.isManualSearch = true;
                    this.searchQuery = searchQuery;
                }
                this.getChapters();
            }
        }).mount('#app');
    </script>
    <style lang="scss">
        .grayscale {
            filter: grayscale(100%);

            & :hover {
                filter: grayscale(0);
            }

        }

        a.leader {
            color: black;
            text-decoration: underlined;
        }

        .text-3 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a {
            color: #1d7bd7;
            text-decoration: none;
        }
    </style>
{% endblock content %}
