{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ api.title }} – API Docs</title>
    <link type="text/css" rel="stylesheet" href="{% static 'ninja/swagger-ui.css' %}" />
    {% include "ninja/favicons.html" %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/swagger_ui.css' %}" />
</head>

<body data-csrf-token="{% if add_csrf %}{{ csrf_token }}{% endif %}" data-api-csrf="{% if add_csrf %}true{% endif %}">

    <button id="theme-toggle" aria-label="Switch to light theme" onclick="toggleTheme()"><svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-sun-icon lucide-sun">
            <circle cx="12" cy="12" r="4" />
            <path d="M12 2v2" />
            <path d="M12 20v2" />
            <path d="m4.93 4.93 1.41 1.41" />
            <path d="m17.66 17.66 1.41 1.41" />
            <path d="M2 12h2" />
            <path d="M20 12h2" />
            <path d="m6.34 17.66-1.41 1.41" />
            <path d="m19.07 4.93-1.41 1.41" />
        </svg>
    </button>

    <script type="application/json" id="swagger-settings">
      {{ swagger_settings | safe }}
  </script>

    <div id="swagger-ui"></div>

    <script src="{% static 'ninja/swagger-ui-bundle.js' %}"></script>
    <script src="{% static 'ninja/swagger-ui-init.js' %}"></script>
    <script src="{% static 'js/swagger_ui.js' %}"></script>
</body>

</html>