@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --background: #F4F6FC;
        --text: #000;
        --border: #0000002d;
    }

    .dark{
        --background: #212529;
        --text: #fff;
        --border: #ffffff26;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: clamp(1.5rem, 5vw, 2rem);
}

a{
    color: #1d7bd7;
}
