@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f6fc;
    --text: #000;
    --border: #0000002d;
    --rt-color-white: #222; /* customizing tooltip colors*/
    --rt-color-dark: #fff; /* customizing tooltip colors*/
  }

  .dark {
    --background: #212529;
    --text: #fff;
    --border: #ffffff26;
    --rt-color-white: #222; /* customizing tooltip colors*/
    --rt-color-dark: #fff; /* customizing tooltip colors*/
  }

  body {
    background-color: var(--background);
    color: var(--text);
    transition:
      background-color 0.5s,
      color 0.5s;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-fade-in-out {
  animation: fade-in-out 2s ease-in-out infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

a {
  color: #1d7bd7;
}

.navlink {
  color: inherit;
}

:root {
  --scrollbar-thumb-light: #CBD5E1;
  --scrollbar-thumb-dark: #0F172A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-thumb: var(--scrollbar-thumb-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --scrollbar-thumb: var(--scrollbar-thumb-light);
  }
}

.scroll-container {
  overflow-y: auto;
  scrollbar-width: thin;
}

.scroll-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb);
}

/* For Firefox */
.scroll-container {
  scrollbar-color: var(--scrollbar-thumb) transparent;
  scrollbar-width: thin;
}
