@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f6fc;
    --text: #000;
    --border: #0000002d;
    --rt-color-white: #222; /* customizing tooltip colors*/
    --rt-color-dark: #fff; /* customizing tooltip colors*/
  }

  .dark {
    --background: #212529;
    --text: #fff;
    --border: #ffffff26;
    --rt-color-white: #222; /* customizing tooltip colors*/
    --rt-color-dark: #fff; /* customizing tooltip colors*/
  }

  body {
    background-color: var(--background);
    color: var(--text);
    transition:
      background-color 0.5s,
      color 0.5s;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

a {
  color: #1d7bd7;
}
