@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f6fc;
    --text: #000;
    --border: #0000002d;
    --rt-color-white: #222; /* customizing tooltip colors*/
    --rt-color-dark: #fff; /* customizing tooltip colors*/
  }

  .dark {
    --background: #212529;
    --text: #fff;
    --border: #ffffff26;
    --rt-color-white: #222; /* customizing tooltip colors*/
    --rt-color-dark: #fff; /* customizing tooltip colors*/
  }

  body {
    background-color: var(--background);
    color: var(--text);
    transition:
      background-color 0.5s,
      color 0.5s;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-fade-in-out {
  animation: fade-in-out 2s ease-in-out infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

a {
  color: #1d7bd7;
}

.navlink {
  color: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}

ol {
  list-style: decimal;
}
