availability_zones   = ["us-east-2a", "us-east-2b", "us-east-2c"]
aws_region   = "us-east-2"
create_rds_proxy           = false
db_backup_retention_period = 0
db_name                    = "owasp_nest"
db_user                    = "owasp_nest_db_user"
db_port                    = 5432
environment  = "staging"
force_destroy_bucket = true
project_name = "owasp-nest"
