availability_zones   = ["ap-south-1a", "ap-south-1b", "ap-south-1c"]
aws_region   = "ap-south-1"
django_algolia_application_id = ""
django_algolia_write_api_key  = ""
django_allowed_hosts          = ".execute-api.ap-south-1.amazonaws.com"
django_aws_access_key_id      = ""
django_aws_secret_access_key  = ""
django_configuration          = "Staging"
django_db_host                = ""
django_db_name                = "owasp_nest"
django_db_user                = "owasp_nest_db_user"
django_db_port                = "5432"
django_db_password            = ""
django_open_ai_secret_key     = ""
django_redis_host             = ""
django_redis_password         = ""
django_secret_key             = ""
django_sentry_dsn             = ""
django_slack_bot_token        = ""
django_slack_signing_secret   = ""
environment  = "staging"
force_destroy_bucket = true
project_name = "owasp-nest"
