  - name: Deploy Nest to Production
    hosts: production_nest
    tasks:
      - name: Copy docker-compose.yaml
        ansible.builtin.copy:
          src: '{{ github_workspace }}/docker-compose/production/compose.yaml'
          dest: ~/docker-compose.yaml
          mode: '0644'

      - name: Sync Makefile structure
        ansible.builtin.synchronize:
          src: '{{ github_workspace }}/'
          dest: '~/'
          recursive: yes
          rsync_opts:
            - '--include=*/'
            - '--include=Makefile'
            - '--include=*/Makefile'
            - '--include=*/**/Makefile'
            - '--include=*/**/**/Makefile'
            - '--exclude=*'

      - name: Update Makefiles for production environment
        shell: |
          sed -i '/e2e-\|fuzz-/! s/\bnest-backend\b/production-nest-backend/g' ~/backend/Makefile
          sed -i '/e2e-\|fuzz-/! s/\bnest-db\b/production-nest-db/g' ~/backend/Makefile
          sed -i 's/\bnest-frontend\b/production-nest-frontend/g' ~/frontend/Makefile

      - name: Copy secrets
        copy:
          src: '{{ github_workspace }}/{{ item }}'
          dest: ~/
          mode: '0400'
        loop:
          - .env.backend
          - .env.cache
          - .env.db
          - .env.frontend
          - .github.pem

      - name: Clean up secrets
        delegate_to: localhost
        file:
          path: '{{ github_workspace }}/{{ item }}'
          state: absent
        loop:
          - .env.backend
          - .env.cache
          - .env.db
          - .env.frontend
          - .github.pem
        run_once: true

      - name: Copy crontab
        copy:
          src: '{{ github_workspace }}/cron/production'
          dest: /tmp/production_crontab
          mode: '0600'

      - name: Install crontab
        ansible.builtin.command:
          cmd: crontab /tmp/production_crontab

      - name: Restart services
        shell:
          cmd: docker compose up -d --pull always

      - name: Prune docker images
        shell:
          cmd: docker image prune -f

      - name: Index data
        async: 1800 # 30 minutes
        poll: 0
        shell: |
          make index-data > /var/log/nest/production/index-data.log 2>&1
