  - name: Deploy Nest to Production  # yamllint disable-line rule:indentation
    hosts: production_nest
    tasks:
      - name: Copy docker-compose.yaml
        ansible.builtin.copy:
          src: '{{ github_workspace }}/docker-compose/production/compose.yaml'
          dest: ~/docker-compose.yaml
          mode: '0644'

      - name: Sync Makefile structure
        ansible.posix.synchronize:
          src: '{{ github_workspace }}/'
          dest: ~/
          recursive: true
          rsync_opts:
            - --include=*/
            - --include=Makefile
            - --include=*/Makefile
            - --include=*/**/Makefile
            - --include=*/**/**/Makefile
            - --exclude=*

      - name: Update Makefiles for production environment
        ansible.builtin.command:
          argv:
            - sed
            - -i
            - '{{ item.sed_expr }}'
            - '{{ item.path }}'
        loop:
          - sed_expr: /e2e-\|fuzz-/! s/\bnest-backend\b/production-nest-backend/g
            path: '{{ ansible_env.HOME }}/backend/Makefile'
          - sed_expr: /e2e-\|fuzz-/! s/\bnest-db\b/production-nest-db/g
            path: '{{ ansible_env.HOME }}/backend/Makefile'
          - sed_expr: s/\bnest-frontend\b/production-nest-frontend/g
            path: '{{ ansible_env.HOME }}/frontend/Makefile'
        changed_when: false

      - name: Copy secrets
        ansible.builtin.copy:
          src: '{{ github_workspace }}/{{ item }}'
          dest: ~/
          mode: '0400'
        loop:
          - .env.backend
          - .env.cache
          - .env.db
          - .env.frontend
          - .github.pem

      - name: Clean up secrets
        delegate_to: localhost
        ansible.builtin.file:
          path: '{{ github_workspace }}/{{ item }}'
          state: absent
        loop:
          - .env.backend
          - .env.cache
          - .env.db
          - .env.frontend
          - .github.pem

      - name: Copy crontab
        ansible.builtin.copy:
          src: '{{ github_workspace }}/cron/production'
          dest: /tmp/production_crontab
          mode: '0600'

      - name: Install crontab
        ansible.builtin.command:
          cmd: crontab /tmp/production_crontab
        changed_when: false

      - name: Restart services
        ansible.builtin.command:
          cmd: docker compose up -d --pull always
        changed_when: false

      - name: Prune docker images
        ansible.builtin.command:
          cmd: docker image prune -f
        changed_when: false

      - name: Index data
        async: 1800  # 30 minutes
        poll: 0
        # Shell required for stdout/stderr redirect to log file.
        ansible.builtin.shell: |
          make index-data > /var/log/nest/production/index-data.log 2>&1
        changed_when: false
