  - name: Deploy Production Nest Proxy
    hosts: production_nest_proxy
    tasks:
      - name: Copy proxy docker-compose.yaml
        ansible.builtin.copy:
          src: '{{ github_workspace }}/proxy/docker-compose.yaml'
          dest: ~/docker-compose.yaml
          mode: '0644'

      - name: Copy proxy configuration file
        ansible.builtin.copy:
          src: '{{ github_workspace }}/proxy/production.conf'
          dest: ~/production.conf
          mode: '0644'

      - name: Copy redirects.conf
        ansible.builtin.copy:
          src: '{{ github_workspace }}/proxy/redirects.conf'
          dest: ~/redirects.conf
          mode: '0644'

      - name: Copy security.conf
        ansible.builtin.copy:
          src: '{{ github_workspace }}/proxy/security.conf'
          dest: ~/security.conf
          mode: '0644'

      - name: Update Docker images
        shell:
          cmd: docker compose pull

      - name: Retart proxy server
        shell:
          cmd: docker compose restart
