- name: Deploy Production Nest Proxy
  hosts: production_nest_proxy
  tasks:
    - name: Copy proxy configuration files
      ansible.builtin.copy:
        src: '{{ github_workspace }}/proxy/{{ item }}'
        dest: ~/
        mode: '0644'
      loop:
        - blocked_ips.conf
        - cloudflare_realip.conf
        - headers.conf
        - production.conf
        - proxy_cache.conf
        - redirects.conf

    - name: Copy docker compose file
      ansible.builtin.copy:
        src: '{{ github_workspace }}/docker-compose/proxy/compose.yaml'
        dest: ~/docker-compose.yaml
        mode: '0644'

    - name: Pull and start services
      ansible.builtin.command:
        cmd: docker compose up -d --pull always
      args:
        chdir: "{{ ansible_env.HOME }}"
      changed_when: false

    - name: Restart services
      ansible.builtin.command:
        cmd: docker compose restart
      args:
        chdir: "{{ ansible_env.HOME }}"
      changed_when: false

    - name: Prune docker images
      ansible.builtin.command:
        cmd: docker image prune -f
      changed_when: false
