availability_zones            = ["us-east-2a", "us-east-2b", "us-east-2c"]
aws_region                    = "us-east-2"
create_nat_gateway            = true
create_rds_proxy              = false
ecs_use_public_subnets        = true
environment                   = "staging"
frontend_domain_name          = "nest.owasp.dev"
frontend_use_fargate_spot     = true
lambda_arn                    = null
lambda_function_name          = null
project_name                  = "owasp-nest"
use_fargate_spot              = true
