availability_zones            = ["us-east-2a", "us-east-2b", "us-east-2c"]
aws_region                    = "us-east-2"
backend_image_tag             = "REPLACE_WITH_BACKEND_IMAGE_TAG"
backend_use_fargate_spot      = false
domain_name                   = "nest.owasp.org"
django_configuration          = "Production"
django_settings_module        = "settings.production"
enable_additional_parameters  = true
enable_cron_tasks             = true
enable_nat_gateway            = true
enable_rds_proxy              = true
environment                   = "production"
frontend_image_tag            = "REPLACE_WITH_FRONTEND_IMAGE_TAG"
frontend_use_fargate_spot     = false
project_name                  = "nest"
tasks_use_fargate_spot        = false
