availability_zones            = ["us-east-2a", "us-east-2b", "us-east-2c"]
auto_scaling_cpu_target         = 75
auto_scaling_scale_in_cooldown  = 180
auto_scaling_scale_out_cooldown = 60
aws_region                    = "us-east-2"
backend_desired_count           = 1
backend_enable_auto_scaling     = true
backend_image_tag               = "REPLACE_WITH_BACKEND_IMAGE_TAG"
backend_max_count               = 3
backend_min_count               = 1
backend_use_fargate_spot        = true
domain_name                   = "nest.owasp.dev"
django_configuration          = "Staging"
django_settings_module        = "settings.staging"
enable_cron_tasks             = false
enable_nat_gateway            = false
enable_rds_proxy              = false
environment                   = "staging"
frontend_desired_count          = 1
frontend_enable_auto_scaling    = true
frontend_image_tag              = "REPLACE_WITH_FRONTEND_IMAGE_TAG"
frontend_max_count              = 3
frontend_min_count              = 1
frontend_use_fargate_spot       = true
project_name                  = "nest"
tasks_use_fargate_spot        = true
