availability_zones            = ["us-east-2a", "us-east-2b", "us-east-2c"]
auto_scaling_cpu_target         = 70
auto_scaling_scale_in_cooldown  = 300
auto_scaling_scale_out_cooldown = 60
aws_region                    = "us-east-2"
backend_desired_count           = 2
backend_enable_auto_scaling     = true
backend_image_tag               = "REPLACE_WITH_BACKEND_IMAGE_TAG"
backend_max_count               = 6
backend_min_count               = 2
backend_use_fargate_spot        = false
domain_name                   = "nest.owasp.org"
django_configuration          = "Production"
django_release_version        = "0.0.0"
django_settings_module        = "settings.production"
enable_additional_parameters  = true
enable_cron_tasks             = true
enable_nat_gateway            = true
enable_rds_proxy              = true
environment                   = "production"
frontend_desired_count          = 2
frontend_enable_auto_scaling    = true
frontend_image_tag              = "REPLACE_WITH_FRONTEND_IMAGE_TAG"
frontend_max_count              = 6
frontend_min_count              = 2
frontend_use_fargate_spot       = false
project_name                  = "nest"
tasks_use_fargate_spot        = false
force_new_deployment          = false
