- name: Deploy Staging Nest Proxy
  hosts: staging_nest_proxy
  tasks:
    - name: Copy proxy configuration files
      copy:
        src: '{{ github_workspace }}/proxy/{{ item }}'
        dest: ~/
        mode: '0644'
      loop:
        - blocked_ips.conf
        - cloudflare_realip.conf
        - headers.conf
        - proxy_cache.conf
        - redirects.conf
        - staging.conf

    - name: Copy docker compose file
      copy:
        src: '{{ github_workspace }}/docker-compose/proxy.yaml'
        dest: ~/docker-compose.yaml
        mode: '0644'

    - name: Retart services
      shell:
        cmd: docker compose up -d --pull always

    - name: Prune docker images
      shell:
        cmd: docker image prune -f
