Welcome to #project-nest <@{{ USER_ID }}>!

We're thrilled to have you join our growing, friendly, and open community of contributors,
mentors, and project supporters. Whether you're here to learn, contribute, mentor, or just
explore, you're in the right place!

Our work is guided by a strong and supportive leadership team:{{ NL }}
    • *Arkadii Yakovets*, CCSP, CISSP, CSSLP: <@U060W3NKLTF> | <https://www.linkedin.com/in/arkid15r/|LinkedIn> | <https://github.com/arkid15r|GitHub>{{ NL }}
    • *Kateryna Golovanova*, CC: <@U07PWB1JZ6Z> | <https://www.linkedin.com/in/kate-golovanova/|LinkedIn> | <https://github.com/kasya|GitHub>{{ NL }}
    • *Starr Brown*, CISSP: <@U066BRMBMUM> | <https://www.linkedin.com/in/starr-brown-8837547/|LinkedIn> | <https://github.com/mamicidal|GitHub>{{ NL }}

Be sure to connect with the wider community on our <https://www.linkedin.com/groups/14656108/|OWASP Nest LinkedIn Group>.
