Welcome to #project-nest <@{{ USER_ID }}>!

We're thrilled to have you join our growing, friendly, and open community of contributors,
mentors, and project supporters. Whether you're here to learn, contribute, mentor, or just
explore, you're in the right place!

Our work is guided by a strong and supportive leadership team:{{ NL }}
    • *Arkadii Yakovets*, CCSP, CISSP, CSSLP: <@U060W3NKLTF> | <https://www.linkedin.com/in/arkid15r/|LinkedIn> | <https://github.com/arkid15r|GitHub>{{ NL }}
    • *Kateryna Golovanova*, CC: <@U07PWB1JZ6Z> | <https://www.linkedin.com/in/kate-golovanova/|LinkedIn> | <https://github.com/kasya|GitHub>{{ NL }}
    • *Starr Brown*, CISSP: <@U066BRMBMUM> | <https://www.linkedin.com/in/starr-brown-8837547/|LinkedIn> | <https://github.com/mamicidal|GitHub>{{ NL }}

Here are the key *<https://github.com/OWASP/Nest/milestones|milestones>* 
that were accepted as part of the OWASP Nest project for *GSoC 2025*:{{ NL }}
  • *OWASP Contribution Hub*: Aiming to streamline the onboarding process and
      connect contributors with mentors and impactful projects. This milestone
      focuses on improving collaboration within the OWASP community.{{ NL }}
  • *OWASP Nest API*: The development of REST and GraphQL API endpoints for
      OWASP Projects,  Chapters, Events, and Committees. This milestone will
      standardize data access across OWASP's resources.{{ NL }}
  • *OWASP NestBot AI Assistant*: Develop an AI-powered Slack assistant,
      NestBot, that acts as an auto-responder for frequently asked questions,
      intelligently routes queries to the appropriate OWASP channels, and helps
      users navigate the OWASP community.{{ NL }}
  • *OWASP Schema*: Developing and extending a standardized schema for OWASP
      Projects and Chapters. This milestone aims to ensure consistency and ease
      of integration across OWASP resources.{{ NL }}

{{ SECTION_BREAK }}

No other OWASP project received more than 3 slots in 2025, placing OWASP Nest
among the most active OWASP initiatives last year's program. With Google
reporting an overall acceptance rate of around 8%, this is a strong reflection
of the quality of the proposals and the growing impact of the OWASP Nest project.

Be sure to connect with the wider community on our <https://www.linkedin.com/groups/14656108/|OWASP Nest LinkedIn Group>.
