name: Check PR linked issue and assignee

on:
  pull_request_target:
    types:
      - opened

jobs:
  check-pr-issue:
    permissions:
      contents: read
      issues: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ github.event.pull_request.base.sha }}

      - name: Check PR linked issue and assignee
        uses: arkid15r/check-pr-issue-action@6abc0af0d795f1ddec70fbe6225f41b45ac26f74
        with:
          check_issue_reference: 'true'
          close_pr_on_failure: 'true'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          no_assignee_message: 'The linked issue must be assigned to the PR author.'
          no_issue_message: 'The PR must be linked to an issue assigned to the PR author.'
          require_assignee: 'true'
          skip_users_file_path: '.github/workflows/check-pr-issue-skip-usernames.txt'
