name: Check PR linked issue and assignee

on:
  - pull_request_target

permissions:
  contents: read
  issues: read
  pull-requests: write

jobs:
  check-pr-issue:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Check PR linked issue and assignee
        uses: arkid15r/check-pr-issue-action@695d61fbecffc01edae1c36470e7de19979fd79b
        with:
          close_pr_on_failure: 'true'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          no_assignee_message: 'The linked issue must be assigned to the PR author.'
          no_issue_message: 'The PR must be linked to an issue assigned to the PR author.'
          require_assignee: 'true'
          skip_users_file_path: '.github/workflows/check-pr-issue-skip-usernames.txt'
