name: Run CodeQL

on:
  merge_group:
  pull_request:
    branches:
      - feature/**
      - main
  push:
    branches:
      - feature/**
      - main
  workflow_dispatch:

permissions: {}

jobs:
  code-ql:
    name: CodeQL
    permissions:
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language:
          - javascript-typescript
          - python
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Initialize CodeQL
        uses: github/codeql-action/init@89a39a4e59826350b863aa6b6252a07ad50cf83e
        with:
          languages: ${{ matrix.language }}

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        with:
          version: 10
          run_install: false

      - name: Set up Node
        if: matrix.language == 'javascript-typescript'
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 24
          cache: 'pnpm'
          cache-dependency-path: frontend/pnpm-lock.yaml

      - name: Install dependencies for frontend
        if: matrix.language == 'javascript-typescript'
        working-directory: frontend
        run: pnpm install --frozen-lockfile

      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@89a39a4e59826350b863aa6b6252a07ad50cf83e
        with:
          category: /language:${{ matrix.language }}
    timeout-minutes: 5
