name: Test OWASP Schema

on:
  merge_group:
  pull_request:
    branches:
      - main
    paths:
      - schema/**
  push:
    branches:
      - main
    paths:
      - schema/**
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}

env:
  DOCKERHUB_USERNAME: arkid15r
  FORCE_COLOR: 1

jobs:
  pre-commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
        with:
          cache: poetry
          cache-dependency-path: schema/poetry.lock
          python-version: '3.13'

      - name: Run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd

      - name: Check for uncommitted changes
        run: |
          git diff --exit-code || (echo 'Unstaged changes detected. \
          Run `make check` and use `git add` to address it.' && exit 1)

  code-ql:
    name: CodeQL
    permissions:
      security-events: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language:
          - python
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Initialize CodeQL
        uses: github/codeql-action/init@60168efe1c415ce0f5521ea06d5c2062adbeed1b
        with:
          languages: ${{ matrix.language }}

      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@60168efe1c415ce0f5521ea06d5c2062adbeed1b
        with:
          category: /language:${{ matrix.language }}

  spellcheck:
    name: Run spell check
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Run cspell
        run: |
          make check-spelling

  run-schema-tests:
    name: Run schema tests
    needs:
      - pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Restore buildx schema poetry cache
        uses: actions/cache@v4
        with:
          path: /tmp/buildx-schema-poetry-cache
          key: buildx-schema-poetry-cache-${{ runner.os }}-${{ hashFiles('schema/poetry.lock') }}
          restore-keys: |
            buildx-schema-poetry-cache-${{ runner.os }}-

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2

      - name: Build schema test image
        uses: docker/build-push-action@1dc73863535b631f98b2378be8619f83b136f4a0
        with:
          cache-from: |
            type=registry,ref=${{ env.DOCKERHUB_USERNAME }}/owasp-nest-test-schema:cache
          cache-to: |
            type=local,dest=/tmp/buildx-schema-poetry-cache-new
          context: schema
          file: schema/docker/Dockerfile.test
          load: true
          platforms: linux/amd64
          tags: ${{ env.DOCKERHUB_USERNAME }}/owasp-nest-test-schema:latest

      - name: Update buildx schema poetry cache
        run: |
          rm -rf /tmp/buildx-schema-poetry-cache
          mv /tmp/buildx-schema-poetry-cache-new /tmp/buildx-schema-poetry-cache

      - name: Run schema tests
        run: |
          docker run --rm ${{ env.DOCKERHUB_USERNAME }}/owasp-nest-test-schema:latest pytest
