name: Test OWASP Schema

on:
  merge_group:
  pull_request:
    branches:
      - main
    paths:
      - schema/**
  push:
    branches:
      - main
    paths:
      - schema/**
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}

env:
  DOCKERHUB_USERNAME: arkid15r
  FORCE_COLOR: 1

jobs:
  pre-commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55
        with:
          cache: poetry
          cache-dependency-path: schema/poetry.lock
          python-version: '3.13'

      - name: Run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd

      - name: Check for uncommitted changes
        run: |
          git diff --exit-code || (echo 'Unstaged changes detected. \
          Run `make check-all` and use `git add` to address it.' && exit 1)

  code-ql:
    name: CodeQL
    permissions:
      security-events: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language:
          - python
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Initialize CodeQL
        uses: github/codeql-action/init@9f45e7498becbbc08084a122b4be9ab534ac6d88
        with:
          languages: ${{ matrix.language }}

      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@9f45e7498becbbc08084a122b4be9ab534ac6d88
        with:
          category: /language:${{ matrix.language }}

  spellcheck:
    name: Run spell check
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Run cspell
        run: |
          make check-spelling

  run-schema-tests:
    name: Run schema tests
    needs:
      - pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@941183f0a080fa6be59a9e3d3f4108c19a528204

      - name: Build schema test image
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4
        with:
          cache-from: type=registry,ref=${{ env.DOCKERHUB_USERNAME }}/owasp-nest-test-schema:cache
          context: schema
          file: schema/docker/Dockerfile.test
          load: true
          platforms: linux/amd64
          tags: ${{ env.DOCKERHUB_USERNAME }}/owasp-nest-test-schema:latest

      - name: Run schema tests
        run: |
          docker run ${{ env.DOCKERHUB_USERNAME }}/owasp-nest-test-schema:latest pytest
