*Hi <@{{ USER_ID }}>!*{{ NL }}
Welcome to the OWASP Slack Community! Here you can connect with other
members, collaborate on projects, and learn about the latest OWASP news and
events.{{ NL }}
I'm OWASP @nestbot, your friendly neighborhood bot. Please use one of the
following commands:{{ NL }}
{{ TAB }}• /board
{{ TAB }}• /chapters
{{ TAB }}• /committees
{{ TAB }}• /community
{{ TAB }}• /contact
{{ TAB }}• /contribute
{{ TAB }}• /donate
{{ TAB }}• /gsoc
{{ TAB }}• /jobs
{{ TAB }}• /leaders
{{ TAB }}• /news
{{ TAB }}• /owasp
{{ TAB }}• /projects
{{ TAB }}• /sponsors
{{ TAB }}• /staff
{{ TAB }}• /users
