*Hi <@{{ user_id }}>!*{{ NL }}
Welcome to the OWASP Slack Community! Here you can connect with other 
members, collaborate on projects, and learn about the latest OWASP news and 
events.{{ 2 * NL }}
I'm OWASP @nestbot, your friendly neighborhood bot. Please use one of the 
following commands:{{ NL }}
{{ TAB }}• /board{{ NL }}
{{ TAB }}• /chapters{{ NL }}
{{ TAB }}• /committees{{ NL }}
{{ TAB }}• /community{{ NL }}
{{ TAB }}• /contact{{ NL }}
{{ TAB }}• /contribute{{ NL }}
{{ TAB }}• /donate{{ NL }}
{{ TAB }}• /gsoc{{ NL }}
{{ TAB }}• /jobs{{ NL }}
{{ TAB }}• /leaders{{ NL }}
{{ TAB }}• /news{{ NL }}
{{ TAB }}• /owasp{{ NL }}
{{ TAB }}• /projects{{ NL }}
{{ TAB }}• /sponsors{{ NL }}
{{ TAB }}• /staff{{ NL }}
{{ TAB }}• /users{{ NL }}