*Welcome to the OWASP Slack Community, <@{{ user_id }}>!*{{ NL }}
We're excited to have you join us! Whether you're a newcomer to OWASP or
a seasoned professional, this is the space to connect, collaborate,
and learn together!{{ 2 * NL }}
{{ SECTION_BREAK }}
*Get Started*:{{ NL }}
To explore the full spectrum of OWASP's projects, chapters, and resources,
check out <{{ nest_url }}|*OWASP Nest*>. It's your gateway to
discovering ways to contribute, stay informed, and connect with the OWASP
community. From finding projects aligned with your interests to engaging with
chapters in your area, OWASP Nest makes it easier to navigate and get involved.{{ NL }}
Join <{{ project_nest_channel }}> to stay updated on OWASP Nest.
{{ SECTION_BREAK }}
*Connect and Grow:*{{ NL }}
  • Visit OWASP channels <{{ community_channel }}> and
  <{{ ask_channel }}> to engage with the broader community.{{ 2 * NL }}
  • Find your local chapter channel (normally chapter specific channels have
  `#chapter-<name>` format, e.g. <{{ london_channel }}>){{ 2 * NL }}
  • Dive into project-specific channels, like `#project-<name>` (e.g.
  <{{ juice_shop_channel }}>, <{{ project_nest_channel }}>)
  to engage directly with the project specific communities.{{ 2 * NL }}
  • Explore topic channels like <{{ appsec_channel }}>,
  <{{ devsecops_channel }}>, <{{ threat_modeling_channel }}> to
  engage with like-minded individuals.{{ 2 * NL }}
  • Join <{{ jobs_channel }}> to discover job opportunities in the cyber
  security field.
{{ SECTION_BREAK }}
*Learn and Engage:*{{ NL }}
  • Explore <{{ contribute_channel }}> for opportunities to get involved
  in OWASP projects and initiatives.{{ 2 * NL }}
  • Leverage <{{ sponsorship_channel }}> program to earn compensation
  for impactful contributions to OWASP projects.{{ 2 * NL }}
  • Join leadership channels: <{{ leaders_channel }}> and
  <{{ mentors_channel }}> to connect with OWASP leaders and mentors.{{ 2 * NL }}
  • Learn about OWASP's participation in Google Summer of Code in
  <{{ gsoc_channel }}>.{{ 2 * NL }}
  • Connect with developers in <{{ developers_channel }}> to discuss
  development practices and tools.
{{ SECTION_BREAK }}
We're here to support your journey in making software security visible and
strengthening the security of the software we all depend on. Have questions or
need help? Don't hesitate to ask -- this community thrives on collaboration!
{{ SECTION_BREAK }}
{{ FEEDBACK_CHANNEL_MESSAGE | safe }}
